<h3>Enter the user information</h3>
<hr>
<%= form_for @user do |f| %>
  Full Name: <%= f.text_field :name %> <br/><br/>
  Email Address: <%= f.text_field :email %> <br/><br/>

<%-# the if false is here so that I can block comment -%>
<% if false %>
  <% if !@email_valid %>
    <b>ERROR: EMAIL INVALID!</b>
    <% @email_valid = true %>
  <% end %>
<% end %>

  Mailing Address: <%= f.text_field :address %> <br/><br/>
  Message: <%= f.text_field :message %> <br/>

<hr>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Would you like to donate $5 to the Vancouver Community Network?</span>
    </label>
  </article>
  <br/>

<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="VCN Donation"
          data-amount="500"
          data-locale="auto"></script>
<% end %>
