<h3>Enter the user information</h3>
<hr>
<%= form_for @user do |f| %>
  Full Name: <%= f.text_field :name %>
  <% unless @user.errors[:name].blank? %>
    <b>ERROR: Name can only have letters</b>
  <% end %> <br/><br/>

  Email Address: <%= f.text_field :email %>
  <% unless @user.errors[:email].blank? %>
    <b>ERROR: Email is invalid</b>
  <% end %> <br><br>

  Mailing Address: <%= f.text_field :address %>
  <% unless @user.errors[:address].blank? %>
    <b>ERROR: Address can't be blank</b>
  <% end %> <br><br>

  Message: <%= f.text_field :message %>
  <% unless @user.errors[:message].blank? %>
    <b>ERROR: Message can't be blank</b>
  <% end %> <br>

<hr>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Would you like to donate $5 to the Vancouver Community Network?</span>
    </label>
  </article>
  <br/>

<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="VCN Donation"
          data-amount="500"
          data-locale="auto"></script>
<% end %>
