<h3>Enter the user information</h3>
<hr>
<%= form_for @user do |f| %>
  Full Name: <%= f.text_field :name %> <br/><br/>
  Email Address: <%= f.text_field :email %> <br/><br/>
  Mailing Address: <%= f.text_field :address %> <br/><br/>
  Message: <%= f.text_field :message %> <br/>
<hr>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $5.00</span>
    </label>
  </article>
  <br/>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="User Signup"
          data-amount="500"
          data-locale="auto"></script>
<% end %>
